DOCKER_IMAGE=ghcr.io/sysacadteam/sysacad:latest

DB_HOST=tu-host
DB_PORT=puerto
DB_NAME=defaultdb
DB_USER=usuario
DB_PASS=contraseña_segura_aqui
DB_CERTIFICATE_PATH=ruta_al_db.pem

JWT_ISSUER=jwt_issuer
JWT_AUDIENCE=jwt_audience
JWT_SECRET_KEY=clave_secreta_minimo_32_caracteres_aqui
